* {
    box-sizing: border-box;
}



h1 {

    padding-block: 4px;
    text-align: center;
    line-height: 60px;
}

ul {
    display: flex;
    flex-direction: row;
    background-color: grey;
    color: white;

}

li {
    list-style: none;
    padding: 3px 4px;
    color: black;
}

a {
    text-decoration: none;
}

nav {
    padding: 3px 12px;
}

.container {
    background-color: grey;
    max-width: 245%;
    margin: 23px;
}

h2 {
    text-align: center;
}

input,
textarea {
    display: block;
    padding: 23px;
    margin: 15px;
    width: 78%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;

}

.btn {
    display: block;
    text-align: center;
    color: black;
    margin: 4px auto;
    border: 2px solid black;
    border-radius: 9px;
    background-color: cyan;
    cursor: pointer;
}